<div id="container3a">
  <div class="container3a1" style="margin-top:16px;">
    <a href="#">About Us</a>
  </div>
  <div class="container3a1">
    <a href="#">Serch</a>
  </div>
  <div class="container3a1">
    <a href="#">Gallery</a>
  </div>
  <div class="container3a1">
    <a href="#">油長ホームページへ</a>
  </div>
  <div class="container3a1">
    <a href="#">お酒にまつわる話</a>
  </div>
  <div class="container3a1">&nbsp;</div>
</div>

<div id="container3b">
  <div id="container3b1" style="line-height:14px;">
    <h2>Welcome to our Website</h2>
    <br />
    ようこそいらっしゃいました。<br /><br />
    伏見、油長に魅せられた者がつどうところでございます。
    日本酒の好きな方なら、きっと気に入っていただけると思います。<br /><br />
    どうぞ存分にお楽しみください。
  </div>
</div>

<div id="container3c">
  <div class="container3c1">
    <h2>季節限定</h2>
  </div>

  <div id="container3c2">
    <div id="container3c2a" style="margin-top:10px;">
      <%= image_tag('best_recipes.gif', :size=>"104x23", :alt=>"") %><br><br>
      <div id="container3c2a1">
	<strong>Lorem ipsum</strong> dolor sit amet,<br> 
	orci mauris,<br> 
	neque lacinia nibh ullamcor<br>
	<div align="right">
	  <a href="#" title="more">...more</a>
	</div>
      </div>
    </div>
  </div>

</div>
